<!DOCTYPE html>

<html>
<head>

    <title> {{title}} </title>

</head>
<body>

    <h1>   <u>{{heading1}}</u> </h1>
    <h2> {{heading2}} </h2>

    Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems. <br />
    Specific applications of AI include expert systems, natural language processing, speech recognition and machine vision.<br />
    There are 4 types of Artifical Intelligence:
    <ul>
        <li>Reactive</li>
        <li>Limited Memory</li>
        <li>Theory of Mind</li>
        <li>Self-Aware</li>
        <hr />
    </ul>
    Good and bad advantages of Artificial Intelligence:
    <strong><p style="color:blue;">Good advantages:</p> </strong>
    <ol>
        <li> Reduction in Human Error</li>
        <li> Takes risks instead of humans</li>
        <li> Can work 24/7</li>
    </ol>
  
    <strong><p style="color:red;">Bad advantages:</p> </strong>
    <ol>
        <li> More costly</li>
        <li> Unemployment</li>
        <li> Lacks Out of Box Thinking</li>
    </ol>
    <h3>
   If you want to learn more about AI,  <a href="https://www.youtube.com/watch?v=2ePf9rue1Ao" target="_blank" > click here</a> 
         </h3>

    <hr />
    <i>
        <strong>
            Sam Cullen - C00250093 <br>
            Click <a href="/">HERE</a> go to homepage</> <br /> <br />
            <a href="javascript:history.back()">Go Back to previous page</a>
        </strong>
    </i>

</body>
</html>