<!DOCTYPE html>

<html>
<head>

    <title> {{title}} </title>

</head>
<body>
   
        <h1>   <u>{{heading1}}</u> </h1>
        <h2> {{heading2}} </h2>
        
    Three computing technologies I specifically find interesting are:
        <ul>
            <li> Graphics software - <a href="/graphics">Link to graphics</a></li>
            <li> Virtual reality - <a href="/virtual">Link to virtual reality</a></li>
            <li> Artificial Intelligence - <a href="/artificial">Link to AI</a></li>
        </ul>
    

    <hr />
    <i>
        <strong>
            Sam Cullen - C00250093 <br>
            Click <a href="/">HERE</a> go to homepage</>
        </strong>
    </i>

</body>
</html>