<!DOCTYPE html>

<html>
<head>

    <title> {{title}} </title>
    
</head>
<body>

    <h1>   <u>{{heading1}}</u> </h1>
    <h2> {{heading2}} </h2>
    Graphics Software are computer software applications used to <b>display, create, and edit computer graphics.</b><br /><br />
    In computer graphics, graphics software refers to a program or collection of programs that enable a person to manipulate images or models visually on a computer.<br /><br />
    Computer graphics can be classified into distinct categories:<b> raster graphics</b> and <b>vector graphics</b>, with further<b> 2D </b>and <b>3D</b> variants. <br />
    Some of the most well known graphic softwares used by millions are:
    <ul>
        <li>Adobe Illustrator</li>
        <li>Photoshop</li>
        <li>Microsoft Paint</li>
        <li>InDesign</li>
        <li>Paint.Net</li>
    </ul>

    <h3>
        If you want to learn more about Graphic software,  <a href="https://www.youtube.com/watch?v=dFSia1LZI4Y" target="_blank"> click here</a>
    </h3>

    <hr />
    <i>
        <strong>
            Sam Cullen - C00250093 <br>
            Click <a href="/">HERE</a> go to homepage</> <br /> <br />
            <a href="javascript:history.back()">Go Back to previous page</a>
        </strong>
    </i>

</body>
</html>