<!DOCTYPE html>
<html>
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="homepage.css" />
</head>


<body>


    <h1>   {{heading1}} </h1>
    <h2> {{heading2}} </h2>



</body>
<ul>
    <li><a href="/personal">My personal page</a></li>
    <li><a href="/cv">My CV page</a></li>
    <li><a href="/computing">My favourite computing technologies</a></li>
    <li><a href="/interest">My interests outside my course/computers</a></li> <br />
    <li><a href="/showform"> Submit a message </a></li>
 
</ul>
<hr />

<i> <strong> Sam Cullen - C00250093</i>  </strong>

</html>