<!DOCTYPE html>

<html>
<head>

    <title> {{title}} </title>

</head>
<body>
  
        <h1>   <u>{{heading1}}</u> </h1>
        <h2> {{heading2}} </h2>
        <dl>
            <dt><strong><u>Movies/TV shows</u></strong></dt>
            <dd> I enjoy watching most type of genre movies, specifically horror or supernatural. <br />
                    Currently rewatching the TV show The Office again at home</dd><br />

            <dt><strong><u>Sports</strong></u></dt>
            <dd> Play rugby union and rugby league. <br />
                Play rugby union with Co. Carlow senior since 18 years old and playing college rugby with IT Carlow since 1st year. <br />
            Playing rugby league internationally since 2017</dd> <br />

            <dt><strong><u> Travel </u></strong></dt>
            <dd>
                Have been to different countries whether it be rugby related or other.<br /><br />
                <u> Rugby related: </u>
                <li>England, Scotland, Wales, Serbia, </li>
                <u> Other:</u>
                <li> France, Italy, Spain</li>
            </dd>

        </dl>

    <hr />
    <i>
        <strong>
            Sam Cullen - C00250093 <br>
            Click <a href="/">HERE</a> go to homepage</>
        </strong>
    </i>

</body>
</html>