<!DOCTYPE html>

<html>
<head>
    
    <title> {{title}} </title>

</head>
<body>
    <h1>
        <u> {{heading1}} </u>
    </h1>

    <h2>
        {{heading2}}
    </h2>
    My names Sam Cullen, 21 years old and living in Carlow. <br />
    Studying <strong>Software Development</strong> at IT Carlow. This year we are learning:
    <ol>
        <li> Advanced Programming </li>
        <li> Discrete Structures & Algorithms II </li>
        <li> Operating Systems </li>
        <li> Software Engineering for Web, Cloud and Mobile Apps</li>
        <li> Web and Cloud Development </li>
    </ol>
    <hr />
    <i><strong>Sam Cullen - C00250093 <br>
    Click <a href="/">HERE</a> go to homepage</></strong> </i>

</body>
</html>