{% extends "base.html" %}

{% block body %}
<fieldset>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Message &nbsp;</th>
                <th>Time submitted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>
{% endblock %}