<!DOCTYPE html>

<html>
<head>

    <title> {{title}} </title>

</head>
<body>

    <h1>   <u>{{heading1}}</u> </h1>
    <h2> {{heading2}} </h2>

    Virtual reality (VR) is a simulated experience that can be similar to or completely different from the real world. <br />
    A person using virtual reality equipment is able to look around the artificial world,
    move around in it, and interact with virtual features or items<br />
    3 types of Virtual Reality are:
    <ol>
        <li>Non-immersive</li>
        <li>Semi-immersive</li>
        <li>Fully-immersive simulations</li>
    </ol>

    <h3>
        If you want to learn more about VR,  <a href="https://www.youtube.com/watch?v=HBNH8tzsfVM" target="_blank"> click here</a>
    </h3>

    <hr />
    <i>
        <strong>
            Sam Cullen - C00250093 <br>
            Click <a href="/">HERE</a> go to homepage</> <br /> <br />
            <a href="javascript:history.back()">Go Back to previous page</a>
        </strong>
    </i>

</body>
</html>